.subtitle,
.modalTitle {
  font-weight: 600;
  line-height: 1.5;
  text-align: start;
}

.subtitle {
  font-size: 20px;
}

.modalTitle {
  font-size: 18px;
  text-align: center;
  margin-bottom: 8px;
}

.hoursWrapper,
.hoursModalWrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.hoursModalWrapper {
  max-width: 380px;
  margin: 0 auto;
}

.hoursInner,
.hoursModalInner {
  display: flex;
  gap: 16px;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}

.hoursInner {
  padding: 4px 0 16px 0;
}

.hoursModalInner {
  border-top: 1px solid var(--shadow-dark);
  padding: 16px 0 20px 0;
  justify-content: space-between;
}

.text {
  margin-bottom: 8px;
}

.hoursModalInner .text {
  margin-bottom: 16px;
}

.innerItem {
  border-bottom: 1px solid var(--shadow-dark);
}

.modalText {
  margin-bottom: 16px;
  text-align: right;
}

@media screen and (min-width: 375px) {
  .subtitle {
    font-size: 24px;
  }
}

@media screen and (min-width: 636px) {
  .hoursWrapper {
    flex-direction: row;
  }
}

@media screen and (min-width: 636px) and (max-width: 991px) {
  .hoursWrapper {
    gap: 30px;
  }
}

@media screen and (min-width: 992px) {
  .hoursWrapper {
    flex-direction: column;
  }
}
