.cart {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  margin-right: 6px;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding-bottom: 70px;
}

.content {
  flex-grow: 1;
}

.warning {
  padding: 16px;
  border: 1px solid rgba(220, 53, 69, 0.2);
  border-radius: 4px;
  color: var(--warning-color);
  margin-bottom: 16px;
  line-height: 1.5;
  background-color: rgba(220, 53, 69, 0.2);
}

.groupOrderTitleWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.refreshBtn {
  height: 30px;
  width: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 0;
  color: var(--accent-color);
  font-weight: 700;
}

.groupStatistic {
  margin-bottom: 16px;
}

.groupStatistic p {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  width: 100%;
  font-size: 20px;
  line-height: 1.5;
  border-bottom: 1px solid var(--shadow-dark);
  margin-bottom: 8px;
}

.cartList {
  margin-bottom: 32px;
}

.cartItem {
  padding: 8px;
  border-bottom: 1px solid var(--shadow-dark);
}

.itemTitleWrapper {
  padding-right: 26px;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  gap: 8px;
  line-height: 1.5;
}

.ownerName {
  font-size: 12px;
  text-align: right;
  margin-bottom: 8px;
}

.itemTitle {
  color: var(--accent-color);
  flex-grow: 1;
  line-height: 1.5;
}

.icon {
  position: absolute;
  right: 0;
  top: 4px;
  fill: var(--accent-color);
}

.instructions {
  font-size: 12px;
  padding-top: 8px;
}

.orderListWrapper {
  padding: 16px;
}

.totalPriceSection {
  font-size: 12px;
  line-height: 1.5;
}

.totalPriceSection li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totalPriceSection li:last-child {
  font-weight: 600;
}

.emptyWrapper {
  padding: 16px;
}

.emptyText {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
  font-weight: 700;
}

.orderIdText {
  text-align: center;
  margin-bottom: 40px;
}

.orderIdText span {
  font-weight: 700;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btnList {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  padding: 16px;
  box-shadow: 0 1px 6px 0 var(--shadow-dark);
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 38px;
}

.closeBtn,
.checkoutBtn,
.cancelBtn {
  color: var(--primary-bg-color);
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  line-height: 1.5;
  opacity: 0.7;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.closeBtn {
  background-color: var(--icon-color);
  justify-content: center;
}

.checkoutBtn {
  background-color: var(--access-color);
  justify-content: space-between;
  padding: 12px;
}

.cancelBtn {
  justify-content: center;
}

.cancelBtn {
  background-color: var(--warning-color);
}

.errorMessage {
  position: absolute;
  bottom: -18px;
  right: 16px;
  margin-bottom: 16px;
  font-size: 14px;
  color: var(--warning-color);
  text-align: start;
}

.warningMessage,
.successMessageMessage {
  margin-bottom: 32px;
  text-align: center;
  line-height: 1.5;
}

.warningMessage {
  font-size: 20px;
  padding-top: 16px;
  padding-bottom: 40px;
}

.successMessageMessage span {
  font-weight: 600;
  text-decoration: underline;
}

.cancelBtnsWrapper {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 38px;
  box-shadow: var(--box-shadow);
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.noButton {
  background-color: var(--access-color);
  color: var(--primary-bg-color);
  opacity: 0.7;
  border: none;
  outline: none;
  border-radius: 4px;
}

.removeModalText {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 70px;
}

.removeModalText span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .icon {
    cursor: pointer;
  }

  .icon:hover {
    fill: var(--hover-color);
  }

  .closeBtn,
  .cancelBtn,
  .checkoutBtn,
  .noButton {
    cursor: pointer;
    transition: opacity var(--transition);
  }
  .refreshBtn {
    cursor: pointer;
    transition: color var(--transition);
  }

  .refreshBtn:hover {
    color: var(--hover-color);
  }

  .closeBtn:hover,
  .cancelBtn:hover,
  .checkoutBtn:hover,
  .noButton:hover {
    opacity: 1;
  }

  .disabled,
  .disabled:hover {
    opacity: 0.7;
    cursor: auto;
  }
}

@media screen and (min-width: 992px) {
  .btnList {
    width: 25%;
    grid-template-columns: 4fr 1fr;
  }

  .closeBtnWrapper {
    display: none;
  }

  .checkoutBtnWrapper {
    grid-column: 1 / 2;
  }

  .cancelBtnWrapper {
    grid-column: 2 / 3;
  }
}
