.container {
  padding-top: 90px;
  position: relative;
  background-color: var(--shadow-light);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  min-height: calc(100vh - 270px);
}

.options {
  display: flex;
  gap: 20px;
}

.options,
.availability,
.detailsList {
  padding: 16px;
  border-bottom: 1px solid var(--shadow-dark);
}

.optionsBtn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--accent-color);
  font-weight: 600;
  font-size: 16px;
}

.detailsList {
  padding-bottom: 0;
}

.addressItem {
  margin-bottom: 4px;
}

.detailsBtn {
  background-color: transparent;
  color: var(--primary-color);
  border: none;
  outline: none;
  padding: 0;
}

.title {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 8px;
  font-weight: 500;
}

.detailsItem {
  min-height: 24px;
  display: flex;
  gap: 8px;
  align-items: flex-start;
  font-weight: 400;
  position: relative;
  transform: scaleY(1);
  transition: transform var(--transition);
}

.warning {
  color: var(--warning-color);
  cursor: pointer;
}

.warning:hover {
  text-decoration: underline;
}

.closedMenu {
  color: var(--closed-color);
  background-color: var(--closed-bg-color);
  padding: 12px 20px;
  line-height: 1.5;
  margin: 8px auto 0 auto;
  border-radius: 4px;
}

.announcementWrapper {
  display: flex;
  gap: 8px;
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
  transition: transform var(--transition), opacity var(--transition),
    visibility var(--transition);
}

.announcement {
  width: 360px;
  padding: 12px 30px 12px 6px;
  border: 1px solid var(--access-color);
  border-radius: 4px;
  color: var(--secondary-color);
  font-weight: 600;
  text-align: center;
  transform: scale(1) translate(0, 0);
  transition: transform var(--transition);
  margin-bottom: 16px;
  opacity: 1;
  visibility: visible;
}

.hidden {
  transform: scale(0) translateX(-200%);
}

.announcementBtn {
  position: absolute;
  top: 50%;
  right: 4px;
  transform: translateY(-50%);
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--icon-color);
}

.icon {
  fill: currentColor;
}

.availability {
  text-align: center;
}

.availabilityTitle {
  margin-bottom: 4px;
}

.availabilityBtn {
  padding: 6px 12px;
  border-radius: 4px;
  height: 38px;
  border: none;
  outline: none;
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
  font-weight: 500;
}

.viewCartBtnWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  padding: 16px;
  box-shadow: var(--box-shadow);
}

.viewCartBtn {
  padding: 6px 12px;
  height: 38px;
  width: 100%;
  background-color: var(--access-color);
  color: var(--primary-bg-color);
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  border-radius: 4px;
}

.cartWrapper {
  padding-right: 4px;
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 90px;
  right: 0;
  width: 100%;
  height: calc(100% - 90px);
  z-index: 1;
  box-shadow: var(--box-shadow);
}

.modalWrapper {
  font-size: 18px;
  line-height: 1.5;
  border: 1px solid var(--secondary-bg-color);
  border-radius: 4px;
  text-align: center;
  box-shadow: 0 1px 6px 0 var(--shadow-dark);
}

.modalWrapper p {
  padding: 20px;
}

.modalWrapper p:nth-child(odd) {
  background-color: var(--shadow-medium);
}

.modalWrapper span {
  font-weight: 600;
  color: var(--accent-color);
}

@media screen and (min-width: 420px) {
  .closedMenu {
    width: 390px;
  }
}

@media screen and (max-width: 991px) {
  .viewCartBtnWrapper {
    left: 0;
  }

  .cartHidden {
    opacity: 0;
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) {
  .options {
    gap: 24px;
  }

  .optionsBtn {
    cursor: pointer;
    transition: color var(--transition);
  }

  .optionsBtn:hover {
    color: var(--hover-color);
  }

  .viewCartBtn {
    cursor: pointer;
    transition: color var(--transition);
  }

  .viewCartBtn:hover {
    background-color: var(--hover-access-color);
  }

  .detailsBtn {
    cursor: pointer;
    transition: text-decoration var(--transition);
  }

  .detailsBtn:hover {
    text-decoration: underline;
  }

  .announcementBtn {
    cursor: pointer;
    transition: color var(--transition);
  }

  .announcementBtn:hover {
    color: var(--hover-color);
  }

  .availabilityBtn {
    cursor: pointer;
    transition: background-color var(--transition);
  }

  .availabilityBtn:hover {
    background-color: var(--hover-color);
  }
}

@media screen and (min-width: 992px) {
  .container {
    min-height: calc(100vh - 190px);
  }

  .content {
    width: 75%;
  }

  .cartWrapper {
    width: 25%;
    top: 88px;
    height: calc(100% - 88px);
    z-index: 0;
  }

  .viewCartBtnWrapper {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .content {
    padding: 0 48px;
  }
}
