.socialLinks {
  padding: 50px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: var(--primary-bg-color);
}

.socialIconList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.socialIconLink {
  cursor: pointer;
}

.socialIcon {
  fill: var(--primary-color);
}
