.addressLink {
  color: var(--primary-color);
  font-size: 16px;
  text-transform: uppercase;
  line-height: 1.5;
  font-style: normal;
  display: flex;
  align-items: center;
  column-gap: 8px;
  transition: text-decoration var(--transition);
}

.addressIcon {
  align-self: start;
}

.textWrapper {
  text-align: left;
}

@media screen and (min-width: 768px) {
  .addressLink:hover {
    text-decoration: underline;
  }
}
