.container {
  padding-top: 90px;
}

.titleWrap {
  text-align: center;
  padding: 100px 15px;
  background-image: url('../../images//gallery-bg.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleWrap h2 {
  font-weight: 300;
}

.contactInner {
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.formContainer {
  padding: 50px 15px 160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 300px;
  margin-bottom: 50px;
}

.mapWrapper {
  display: block;
  height: 300px;
  background-image: url('../../images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 10px;
}

.addressWrapper {
  padding: 16px 0;
}

@media screen and (max-width: 991px) {
  .contactInner {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .hoursWrapper {
    flex-direction: column;
  }

  .contactInner {
    justify-content: space-between;
  }

  .contactsInfo {
    width: calc((100% - 30px) / 2);
  }

  .formWrapper {
    width: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .contactInner {
    width: 1200px;
  }
}
