.container {
  text-align: center;
}

/* ====================================hero=================================== */
.hero {
  position: relative;
  min-height: 80vh;
  background-color: #e8e8e8;
  background-image: url('https://menufyproduction.imgix.net:443/637571331436602254+460265.png?blendMode=normal&blend=8AFFFFFF&blur=20&auto=compress,format&fit=max&w=1024&h=1024');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contentWrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.logo {
  width: 100%;
}

.link {
  padding: 6px 12px;
  width: 168px;
  text-decoration: none;
  color: #000000;
  line-height: 1.5;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(0, 0, 0, 1);
  background-color: #fff;
}

@media screen and (max-width: 559px) {
  .contentWrap {
    padding: 0 30px;
  }
}

@media screen and (min-width: 560px) {
  .logo {
    width: 500px;
    height: 336px;
  }
}

/* ===========================================gallery================== */

.gallery {
  padding: 60px 0;
  background-color: #000000;
}

.galleryList {
  display: flex;
  padding: 0 20px;
  gap: 40px;
  max-width: 1500px;
  margin: 0 auto;
}

.galleryItemOne {
  background-image: url('https://menufyproduction.imgix.net/637568634491647099+456657.png?auto=compress,format&fit=max&w=1024&h=600');
  min-height: 300px;
  width: calc((100% - 40px) / 2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.galleryItemTwo {
  background-image: url('https://menufyproduction.imgix.net/637568634497554194+456658.png?auto=compress,format&fit=max&w=1024&h=600');
  min-height: 300px;
  width: calc((100% - 40px) / 2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.galleryItemThree {
  background-image: url('https://menufyproduction.imgix.net/637568634499504283+456659.png?auto=compress,format&fit=max&w=1024&h=600');
  min-height: 300px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media screen and (max-width: 899px) {
  .galleryList {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 900px) {
  .galleryItemOne {
    background-image: url('https://menufyproduction.imgix.net/637568634491647099+456657.png?auto=compress,format&fit=max&w=1024&h=600');
    min-height: 300px;
    width: calc((100% - 80px) * 0.34);
  }

  .galleryItemTwo {
    background-image: url('https://menufyproduction.imgix.net/637568634497554194+456658.png?auto=compress,format&fit=max&w=1024&h=600');
    min-height: 300px;
    width: calc((100% - 80px) * 0.28);
  }

  .galleryItemThree {
    background-image: url('https://menufyproduction.imgix.net/637568634499504283+456659.png?auto=compress,format&fit=max&w=1024&h=600');
    min-height: 300px;
    width: calc((100% - 80px) * 0.38);
  }
}

/* ===========================================about============= */

.aboutUs {
  padding: 46px 15px;
  background-color: rgb(237, 237, 237);
}

.title {
  margin-bottom: 15px;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Permanent Marker', cursive;
  font-weight: 600;
  font-size: 40px;
  line-height: 1.5;
}

.aboutText {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.5;
}

/* ===========================================social links============= */

.socislLinks {
  padding: 50px 15px;
}

.socialIconList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  padding-top: 16px;
}

.socialIconLink {
  cursor: pointer;
}

.socialIcon {
  fill: #000000;
}

/* ===============================================contacts=================== */

.contacts {
  padding: 100px 15px;
  background-image: url('https://menufyproduction.imgix.net:443/637568635761899062+456662.png?blendMode=normal&blend=C9FFFFFF&auto=compress,format&fit=max&w=1024&h=1024');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e8e8e8;
}

.contacts .title {
  text-align: start;
}

.contactInner {
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.mapWrapper {
  height: 300px;
  background-color: #8e8e8e;
  background-image: url('../../images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contactDescription {
  font-size: 17px;
  line-height: 1.5;
  text-align: start;
  margin-bottom: 8px;
}

.benefitsList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  font-size: 17px;
  line-height: 1.5;
}

.benefitsList li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.benefitsList li::before {
  content: ' ';
  display: block;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  transform: rotate(45deg);
}

.subtitle {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-align: start;
}

.addressList {
  padding: 16px 0;
  max-width: 165px;
}

.addressLink {
  color: #000;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.5;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px;
}

.addressLink:hover {
  text-decoration: underline;
}

.hoursWrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.hoursInner {
  padding: 4px 0 16px 0;
  display: flex;
  gap: 16px;
  font-size: 17px;
  line-height: 1.5;
  text-align: start;
}

.hoursInner .text {
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
  .contactInner {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .hoursWrapper {
    flex-direction: column;
  }

  .contactInner {
    max-width: 1170px;
    justify-content: space-between;
  }

  .contactsInfo {
    width: calc((100% - 30px) / 2);
  }

  .mapWrapper {
    width: calc((100% - 30px) / 2);
  }

  .mapWrapper img {
    height: 100%;
  }
}
