.container {
  text-align: center;
}

/* ===============================================contacts=================== */

.contacts {
  padding: 100px 15px;
  background-image: url('https://menufyproduction.imgix.net:443/637568635761899062+456662.png?blendMode=normal&blend=C9FFFFFF&auto=compress,format&fit=max&w=1024&h=1024');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e8e8e8;
}

.contacts .title {
  text-align: start;
}

.contactInner {
  margin: 0 auto;
  display: flex;
  gap: 30px;
}

.mapWrapper {
  height: 300px;
  background-color: #8e8e8e;
  background-image: url('../../images/map.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contactDescription {
  font-size: 17px;
  line-height: 1.5;
  text-align: start;
  margin-bottom: 8px;
}

.benefitsList {
  display: flex;
  flex-wrap: wrap;
  column-gap: 16px;
  font-size: 17px;
  line-height: 1.5;
}

.benefitsList li {
  display: flex;
  align-items: center;
  gap: 8px;
}

.benefitsList li::before {
  content: ' ';
  display: block;
  width: 5px;
  height: 10px;
  border-bottom: 2px solid #000000;
  border-right: 2px solid #000000;
  transform: rotate(45deg);
}

.subtitle {
  font-size: 25px;
  font-weight: 600;
  line-height: 1.5;
  text-align: start;
}

.addressList {
  padding: 16px 0;
  max-width: 165px;
}

.addressLink {
  color: #000;
  font-size: 17px;
  text-transform: uppercase;
  line-height: 1.5;
  font-style: normal;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 8px;
}

.addressLink:hover {
  text-decoration: underline;
}

.hoursWrapper {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}

.hoursInner {
  padding: 4px 0 16px 0;
  display: flex;
  gap: 16px;
  font-size: 17px;
  line-height: 1.5;
  text-align: start;
}

.hoursInner .text {
  margin-bottom: 8px;
}

@media screen and (max-width: 991px) {
  .contactInner {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .hoursWrapper {
    flex-direction: column;
  }

  .contactInner {
    max-width: 1170px;
    justify-content: space-between;
  }

  .contactsInfo {
    width: calc((100% - 30px) / 2);
  }

  .mapWrapper {
    width: calc((100% - 30px) / 2);
  }

  .mapWrapper img {
    height: 100%;
  }
}
