.container {
  font-family: 'Roboto', sans-serif;
  padding-bottom: 80px;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.text span {
  font-weight: 600;
}

.subText {
  margin-bottom: 24px;
  color: var(--icon-color);
}

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}

.input {
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--shadow-dark);
  box-shadow: var(--box-shadow);
  outline: none;
  font-size: 16px;
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  height: 38px;
  padding: 6px 48px 6px 12px;
}

.input:focus {
  box-shadow: 0 0 6px 0 var(--accent-color);
}

.iconWrapper {
  background-color: var(--shadow-medium);
  height: 36px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  padding: 6px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 1px solid var(--shadow-dark);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: var(--icon-color);
}

.inputError {
  color: var(--warning-color);
  border-color: var(--warning-color);
}

.inputError:focus {
  box-shadow: 0 0 6px 0 var(--warning-color);
}

.error {
  color: var(--warning-color);
  font-size: 12px;
  position: absolute;
  right: 0;
  top: -18px;
}

.errorMessage {
  color: var(--warning-color);
  font-size: 16px;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-shadow: var(--box-shadow);
}

.submitBtn {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  border: none;
  outline: none;
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--accent-color);
  font-size: 16px;
  font-weight: 500;
}

@media screen and (min-width: 576px) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .label {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .submitBtn {
    cursor: pointer;
    max-width: 250px;
    transition: background-color var(--transition);
  }

  .submitBtn:hover {
    background-color: var(--hover-color);
  }
}
