.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--shadow-dark);
  backdrop-filter: blur(3px);
  z-index: 1200;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);
}

.overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  width: 90%;
  max-height: 90vh;
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  overflow: auto;
}

.titleWrapper {
  z-index: 5000;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-bg-color);
  padding: 16px;
  border-bottom: 1px solid var(--shadow-dark);
  box-shadow: 0 1px 6px 0 var(--shadow-dark);
}

.title {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-right: 30px;
}

.closeBtn {
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--icon-color);
}

.icon {
  fill: currentColor;
}

.content {
  padding: 16px;
}

@media screen and (min-width: 680px) {
  .modal {
    width: 648px;
  }
}

@media screen and (min-width: 768px) {
  .closeBtn {
    cursor: pointer;
    transition: color var(--transition);
  }

  .closeBtn:hover {
    color: var(--primary-color);
  }
}
