.container {
  padding: 16px;
  font-family: 'Roboto', sans-serif;
}

.openBtn {
  border: none;
  outline: none;
  background-color: transparent;
  display: flex;
  gap: 4px;
  cursor: pointer;
}

.openIcon {
  height: 16px;
  width: 16px;
  font-size: 18px;
  font-weight: 900;
  background-color: var(--primary-color);
  color: var(--primary-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.openBtnText {
  text-decoration: underline;
  font-size: 14px;
  color: var(--primary-color);
}

.listItem {
  padding-top: 16px;
  border-bottom: 1px solid var(--shadow-dark);
}

.title {
  font-size: 24px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.titleBtn {
  color: currentColor;
  background-color: transparent;
  border: none;
  outline: none;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
}

.description {
  color: var(--icon-color);
  font-size: 14px;
  padding-top: 16px;
}

.productList {
  display: flex;
  gap: 8px;
  margin: 8px 0;
}

.productItem {
  border: 1px solid var(--shadow-dark);
  box-shadow: 0 1px 6px 0 var(--shadow-dark);
  border-radius: 4px;
  padding: 8px;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.productDescription {
  font-size: 12px;
  font-weight: 400;
  flex-grow: 1;
}

.price {
  font-weight: 500;
}

.icon {
  stroke: currentColor;
}

.loaderWrapper {
  text-align: center;
  padding: 50px 0;
}

.errorMessage {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
  padding: 50px 0;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 600;
  color: var(--warning-color);
}

@media screen and (min-width: 768px) {
  .title {
    cursor: pointer;
    transition: color var(--transition);
  }

  .title:hover {
    color: var(--hover-color);
  }

  .productItem {
    cursor: pointer;
  }
}

@media screen and (max-width: 991px) {
  .productList {
    flex-direction: column;
  }
}

@media screen and (min-width: 992px) {
  .productList {
    flex-wrap: wrap;
  }

  .productItem {
    width: calc((100% - 8px) / 2);
  }
}

@media screen and (min-width: 2000px) {
  .productItem {
    width: calc((100% - 24px) / 4);
  }
}
