.container {
  height: 90px;
  transition: background-color var(--transition), box-shadow var(--transition);
  background-color: var(--primary-bg-color);
}

.homeContainer {
  text-align: right;
  padding: 26px 8px;
  background-color: transparent;
}

.logoLink {
  margin-right: auto;
}

.pagesNavigate {
  height: 100%;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-left: 20px;
}

.defaultContainer {
  background-color: transparent;
}

.scrollContainer {
  background-color: var(--primary-bg-color);
  box-shadow: var(--box-shadow);
}

.closeIcon {
  position: absolute;
  top: 36px;
  right: 16px;
  color: var(--primary-color);
  transition: color var(--transition);
  border: none;
  background-color: transparent;
  outline: none;
}

.navigation {
  align-items: center;
  gap: 16px;
}

.orderBtnWrap {
  outline: none;
}

.orderLink {
  background-color: var(--primary-bg-color);
  padding: 6px 12px;
  cursor: pointer;
  border: 2px solid var(--primary-color);
  outline: none;
  transition: border var(--transition);
}

.link {
  color: var(--primary-color);
  line-height: 1.5;
  font-weight: 600;
  display: inline-flex;
  align-items: center;
  transition: color var(--transition);
}

.cartWrapper {
  display: inline-block;
}

.cartLink {
  color: var(--primary-color);
  transition: color var(--transition);
  background-color: transparent;
  border: none;
  outline: none;
}

.cartValue {
  display: inline-block;
  margin-left: 8px;
}

.icon {
  fill: currentColor;
}

.burgerIcon {
  color: var(--primary-color);
  transition: color var(--transition);
  border: none;
  background-color: transparent;
  outline: none;
}

@media screen and (min-width: 768px) {
  .cartLink,
  .burgerIcon,
  .closeIcon {
    cursor: pointer;
  }

  .closeIcon:hover,
  .link:hover,
  .burgerIcon:hover {
    color: var(--hover-color);
  }

  .orderLink:hover {
    border: 2px solid var(--hover-color);
  }
}

@media screen and (max-width: 991px) {
  .navigationWrapper {
    background-color: var(--primary-bg-color);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: opacity var(--slow-transition),
      visibility var(--slow-transition), transform var(--slow-transition);
    z-index: 200;
  }

  .navigation {
    display: flex;
    flex-direction: column;
    width: 140px;
    position: absolute;
    top: 48px;
    left: 50%;
    transform: translateX(-50%);
  }

  .burgerIcon {
    margin: 16px 16px 0;
  }

  .orderBtnWrap {
    margin-top: 8px;
  }

  .hidden {
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--slow-transition),
      visibility var(--slow-transition), transform var(--slow-transition);
  }
}

@media screen and (min-width: 992px) {
  .mobile {
    display: none;
  }

  .closeIcon {
    display: none;
  }

  .burgerIcon {
    display: none;
  }

  .navigationWrapper {
    display: inline-block;
  }

  .navigation {
    display: inline-flex;
  }

  .orderBtnWrap {
    margin: 0 8px;
  }

  .cartIcon {
    width: 17px;
    height: 15px;
    margin-left: 16px;
  }
}
