.container {
  font-family: 'Roboto', sans-serif;
}

.titleWrapper {
  padding: 12px 20px;
  background-color: var(--shadow-medium);
  border: 1px solid var(--shadow-dark);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 500;
}

.description {
  color: var(--icon-color);
  font-size: 14px;
  line-height: 1.5;
}

.label {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  padding: 20px;
  border-bottom: 1px solid var(--shadow-dark);
  border-right: 1px solid var(--shadow-dark);
  border-left: 1px solid var(--shadow-dark);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-bottom: 20px;
}

.input {
  width: 100%;
  height: 38px;
  padding: 6px 12px;
  background-color: var(--shadow-medium);
  outline: none;
  border: 1px solid var(--shadow-dark);
  border-radius: 4px;
}

.input::placeholder {
  color: var(--accent-color);
  font-size: 16px;
  font-weight: 600;
}

.filesBtn,
.changeBtn {
  color: var(--accent-color);
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.copyMessage {
  position: absolute;
  top: 65px;
  left: 20px;
  right: 54px;
  border: 1px solid var(--shadow-dark);
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  z-index: 2000;
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition), visibility var(--transition);
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
}

.copyMessage::before {
  content: '';
  width: 12px;
  height: 12px;
  display: block;
  background-color: var(--shadow-medium);
  border-left: 1px solid var(--shadow-dark);
  border-top: 1px solid var(--shadow-dark);
  left: 50%;
  border-top-left-radius: 4px;
  transform: translateX(-50%) rotate(45deg);
  position: absolute;
  top: -8px;
}

.copyMessage p {
  padding: 6px 12px;
}

.copyMessage p:first-child {
  border-bottom: 1px solid var(--secondary-bg-color);
  background-color: var(--shadow-medium);
  font-size: 16px;
  font-weight: 600;
}

.copyMessage p:last-child {
  font-size: 14px;
}

.limit {
  padding: 20px;
  border: 1px solid var(--shadow-dark);
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 18px;
  overflow: hidden;
  display: flex;
}

.openChangeBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transform: translateX(0);
  visibility: visible;
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
}

.limitChooseBlock {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--transition), visibility var(--transition),
    transform var(--transition);
}

.changeBtn {
  font-size: 16px;
  padding: 6px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.limitList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 32px;
}

.limitList input {
  display: none;
}

.limitList input:checked ~ .limitLabel {
  color: var(--primary-bg-color);
  background-color: var(--secondary-color);
}

.limitList li {
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  overflow: hidden;
  height: 38px;
}

.limitLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 12px;
  width: 100%;
  height: 100%;
}

.updateLimitBtn {
  background-color: var(--accent-color);
  border: none;
  outline: none;
  height: 38px;
  color: var(--primary-bg-color);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 16px;
}

.icon {
  fill: currentColor;
}

.helpBtn {
  display: flex;
  gap: 8px;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-left: auto;
  margin-bottom: 8px;
}

.helpIcon {
  height: 16px;
  width: 16px;
  font-size: 14px;
  font-weight: 900;
  background-color: var(--icon-color);
  color: var(--primary-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
