.aboutUs {
  padding: 46px 15px;
  background-color: var(--secondary-bg-color);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.aboutText {
  max-width: 1170px;
  margin: 0 auto;
  font-size: 17px;
  line-height: 1.5;
}
