.footer {
  padding: 48px 0 56px 0;
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}

.socialWrapper {
  color: var(--primary-bg-color);
  margin-bottom: 24px;
}

.footerBottom {
  text-align: center;
}

.manufyLink {
  color: var(--primary-bg-color);
  margin-right: 4px;
  transition: color var(--transition), text-decoration var(--transition);
}

.linksList {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.footerLink {
  color: var(--primary-bg-color);
  transition: color var(--transition);
}

@media screen and (min-width: 768px) {
  .manufyLink:hover {
    text-decoration: underline;
    color: var(--accent-color);
  }

  .footerLink:hover {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 991px) {
  .orderFooter {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 992px) {
  .orderFooter {
    width: 75%;
  }
}

@media screen and (max-width: 1199px) {
  .linksList {
    margin-top: 16px;
  }
}

@media screen and (min-width: 1200px) {
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
