.footer {
  padding: 48px 0 56px 0;
  color: var(--primary-bg-color);
  background-color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  padding: 0 15px;
}

.socialIconList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.socialIconLink {
  cursor: pointer;
}

.socialIcon {
  fill: var(--primary-bg-color);
}

.footerBottom {
  text-align: center;
}

.manufyLink {
  color: var(--primary-bg-color);
  margin-right: 4px;
}

.manufyLink:hover {
  text-decoration: underline;
}

.linksList {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.footerLink {
  color: var(--primary-bg-color);
}

@media screen and (min-width: 1200px) {
  .footerBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (max-width: 1199px) {
  .linksList {
    margin-top: 16px;
  }
}
