:root {
  --primary-color: #000000;
  --secondary-color: #1b1e21;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #ededed;
  --icon-color: #4d4f52;
  --accent-color: #1072d3;
  --hover-color: #0056b3;
  --warning-color: #dc3545;
  --access-color: #228237;
  --hover-access-color: #218838;
  --shadow-light: rgba(255, 255, 255, 0.8);
  --shadow-dark: rgba(32, 33, 36, 0.28);
  --transition: 250ms linear;
}

body {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary-color);
  background-color: var(--primary-bg-color);
  font-size: 15px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.active {
  text-decoration: underline;
}

/* font-family: 'Permanent Marker', cursive;
font-family: 'Roboto', sans-serif; */
