.container {
  padding-bottom: 60px;
}
.message {
  padding-bottom: 16px;
}

.buttonsWrapper {
  display: flex;
  gap: 16px;
  box-shadow: var(--box-shadow);
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.buttonsWrapper button {
  background-color: var(--accent-color);
  width: 250px;
  height: 38px;
  border: none;
  outline: none;
  color: var(--primary-bg-color);
  border-radius: 4px;
  margin-left: auto;
  opacity: 0.7;
}

.helpBtn {
  display: flex;
  margin-left: auto;
  gap: 8px;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0;
  margin-bottom: 8px;
  color: var(--icon-color);
}

.helpIcon {
  height: 16px;
  width: 16px;
  font-size: 14px;
  font-weight: 900;
  background-color: var(--icon-color);
  color: var(--primary-bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottomWrapper {
  display: flex;
  justify-content: flex-end;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  margin-bottom: 16px;
  font-size: 18px;
  line-height: 1.5;
  position: relative;
}

.input {
  border-radius: 4px;
  background-color: var(--primary-bg-color);
  border: 1px solid var(--shadow-dark);
  box-shadow: var(--box-shadow);
  outline: none;
  font-size: 16px;
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  height: 38px;
  padding: 6px 12px;
}

.input:focus {
  box-shadow: 0 0 6px 0 var(--accent-color);
}

.inputError {
  color: var(--warning-color);
  border-color: var(--warning-color);
}

.inputError:focus {
  box-shadow: 0 0 6px 0 var(--warning-color);
}

.error {
  line-height: 1.5;
  font-size: 12px;
  color: var(--warning-color);
}

@media screen and (min-width: 768px) {
  .button {
    cursor: pointer;
    transition: opacity var(--transition);
  }

  .button:hover {
    opacity: 1;
  }
}
